<!DOCTYPE html> 

<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8"> 
    <title>Mokinio informacija:</title> 
    <link rel="stylesheet" href="./public/style.css" />
</head> 
<body>
<div id="app"> 
 <h2>Mokinio informacija </h2><br>

 <p>Vardas:   <%-     student.name      %></p>
  <p>Pavarė:   <%- student.surname  %></p>
  <p>El.paštas:   <%-     student.email      %></p>
  <p>Asmens kodas:   <%- student.personalCode  %></p>
  <p>password:   <%-     student.password      %></p>
  <p>ID:   <%- student.id  %></p>

</div>
</body>
<script>

//document.getElementById("app").innerHTML = ` Wualia  ${student}`
</script>